/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #fdf9f9;
    color: rgb(255, 29, 225);
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 61, 174);
    text-decoration: none;
}

main {
    padding: 20px;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h3 {
    margin: 10px 0;
}

.produto p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.produto button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.produto button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}
